node_modules
.env
coverage
coverage.json
typechain
typechain-types

*.log

# Circuits
packages/circuits/build
packages/circuits/inputs
packages/circuits/*.ptau

# Contracts
packages/contracts/broadcast
packages/contracts/cache
packages/contracts/out
packages/contracts/artifacts


# Relayer
packages/relayer/sendgrid.env
target
packages/relayer/db/*
packages/relayer/received_eml/*.eml
packages/relayer/received_eml/*.json
packages/relayer/proofs

#Mac
.DS_Store


