node_modules
.env
coverage
coverage.json
typechain
typechain-types

*.log

# Circuits
packages/circuits/build
packages/circuits/inputs
packages/circuits/*.ptau
*.r1cs
*.sym
*.wasm
*.c

# Contracts
packages/contracts/broadcast
packages/contracts/cache
packages/contracts/out
packages/contracts/cache
packages/contracts/test/build_integration/*.json
packages/contracts/test/build_integration/*.zkey
packages/contracts/test/build_integration/*.wasm
packages/contracts/test/build_integration/*.txt

# Relayer
packages/relayer/sendgrid.env
target
packages/relayer/db/*
packages/relayer/*.db
packages/relayer/received_eml/*.eml
packages/relayer/received_eml/*.json
packages/relayer/proofs
sql_database.db
.sqlx

# Prover
packages/prover/build/*
packages/prover/params/*.zkey
packages/prover/__pycache__/*

# Subgraphs
packages/subgraph/build

# Subgraphs
packages/subgraph/build

# Subgraphs
packages/subgraph/build

# Mac
.DS_Store

# mdbook
book

# Vs code settings
.vscode
