[package]
name = "relayer"
version = "1.1.0"
edition = "2021"

[dependencies]
tower-http = { version = "0.4", git = "https://github.com/tower-rs/tower-http.git", features = [
    "cors",
], rev = "f33c3e038dc85b8d064541e915d501f9c9e6a6b4" }
tokio = { version = "1.0", features = ["full"] }
sled = "0.34.2"
anyhow = "1.0.75"
dotenv = "0.15.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.68"
lettre = { version = "0.10.4", features = ["tokio1", "tokio1-native-tls"] }
ethers = { version = "2.0.10", features = ["abigen"] }
relayer-utils = { git = "https://github.com/zkemail/relayer-utils", rev = "f054590" }
slog = { version = "2.7.0", features = [
    "max_level_trace",
    "release_max_level_warn",
] }
sqlx = { version = "=0.6.3", features = ["postgres", "runtime-tokio-native-tls"] }
regex = "1.10.2"
axum = "0.6.20"
rand = "0.8.5"
reqwest = "0.11.22"
num-bigint = { version = "0.4", features = ["rand"] }
num-traits = "0.2.16"
hex = "0.4.3"
chrono = "0.4.31"
ff = { version = "0.13.0", default-features = false, features = ["std"] }
async-trait = "0.1.36"
handlebars = "4.4.0"
graphql_client = { version = "0.13.0", features = ["reqwest"] }
ic-utils = { version = "0.30.0" }
ic-agent = { version = "0.30.0", features = ["pem", "reqwest"] }
candid = "0.9.11"
lazy_static = "1.4"
function_name = "0.3.0"
base64 = "0.21.7"
serde_with = "3.8.1"
futures = "0.3.30"


[build-dependencies]
ethers = "2.0.10"
